<header th:fragment="header" class="navbar navbar-dark navbar-expand-xl container-fluid d-flex justify-content-center bg-black p-0 sticky-top z-2" style="height: 11vh;">
    <nav class="container d-flex justify-content-between align-items-center px-4 p-sm-0 m-0">
      <!-- Boton menu desplegable -->
      <div class="d-flex align-items-center">
        <button class="navbar-toggler fs-2" style="border: none; outline: none; box-shadow: none;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
        <a href="#search" class="fs-5 text-white d-block d-md-none"><i class="bi bi-search"></i></a>
      </div>

      <!-- Logo -->
      <a href="/" class="logo d-flex align-items-center text-white column-gap-2">
        <span class="fs-5" style="font-family: 'Michroma',  sans-serif; font-weight: 400; font-style: normal;">Slam</span>
        <img src="/images/LogoSlamRacingWhite.svg" style="width: 34px;" alt="Logo de Slam Racing">
        <span class="fs-5" style="font-family: 'Michroma',  sans-serif; font-weight: 400; font-style: normal;">Racing</span>
      </a>

      <!-- Menu desplegable -->
      <div class="offcanvas offcanvas-start bg-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <section class="offcanvas-title" id="offcanvasNavbarLabel">
            <div class="logo d-flex align-items-center text-white column-gap-2">
              <span class="fs-5 text-white" style="font-family: 'Michroma',  sans-serif; font-weight: 400; font-style: normal;">Slam</span>
              <img src="/images/LogoSlamRacingWhite.svg" style="width: 34px;" alt="Logo de Slam Racing">
              <span class="fs-5 text-white" style="font-family: 'Michroma',  sans-serif; font-weight: 400; font-style: normal;">Racing</span>
            </div>
          </section>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body justify-content-center">
          <ul class="navbar-nav d-flex column-gap-4">
            <li class="nav-item">
              <a class="nav-link text-white hover-animate" href="productos" th:text="#{header.menu.productos}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover-animate" href="#" th:text="#{header.menu.nosotros}">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover-animate" href="soporte.html" th:text="#{header.menu.soporte}">Soporte y Garantía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover-animate" href="/contacto" th:text="#{header.menu.contacto}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Icons -->
      <div class="d-flex align-items-center column-gap-2 column-gap-md-3">
        <a href="#search" class="fs-5 text-white d-none d-md-block"><i class="bi bi-search"></i></a>
        <a href="#account" class="fs-3 text-white"><i class="bi bi-person"></i></a>
        <button type="button" id="btn-abrirCarrito" class="fs-5 border-0 bg-black text-white">
          <i class="bi bi-bag"></i>
        </button>
        <div class="dropdown d-none d-md-block">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-globe"></i>
            <span class="text-white" th:text="${idiomaActual}"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/cambiar_idioma?idioma=es">ES</a></li>
            <li><a class="dropdown-item" href="/cambiar_idioma?idioma=en">EN</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>