<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ecommerce de sillas gamer - Slam Racing">
    <meta name="keywords" content="Slam Racing, E-commerce, Tienda online, Sillas gamer">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Grupo 03 - Marcos de desarrollo web">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/hoverNavElements.css">
    <link rel="stylesheet" href="/css/carritoStyle.css">
    <link rel="stylesheet" href="/css/responsiveHeader.css">
    <link rel="stylesheet" href="/css/contacto/contacto.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Slam Racing | Diseño Racing. Rendimiento gamer">
    <meta property="og:description" content="Las mejoras sillas calidad-precio del Perú">
    <meta property="og:image" content="https://slamracing.devbyjose.studio/images/SEO/SlamRacing.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://slamracing.devbyjose.studio">
    <meta property="og:site_name" content="Slam Racing">
    <meta property="og:locale" content="es_PE">


    <title th:text="#{home.titulo}">Slam Racing | Diseño Racing. Rendimiento gamer.</title>
</head>


<body class="p-0 m-0">

    <header th:replace="~{user/components/header.html::header}"></header>


    <div class="container my-5 bg-black text-white">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/contacto/sillas.jpg" alt="Sillas Gamer" class="img-fluid">
            </div>
            <div class="col-md-6 contact-form">
                <h2 th:text="#{contacto.titulo}">Contacto</h2>
                <p  th:text="#{contacto.mensaje}">¡Estamos aquí para ayudarte! Si tienes alguna pregunta, inquietud o necesitas asistencia sobre nuestros productos, no dudes en ponerte en contacto con nosotros.</p>

                <h3 th:text="#{contacto.detalles}">Detalles de Contacto</h3>
                <p th:text="#{contacto.telefono}">Teléfono: +51 920 554 226</p>
                <p th:text="#{contacto.email}">Email: ventas@www.slamracing.pe</p>
                <p th:text="#{contacto.direccion}">Dirección: Cabo Blanco 447 - Chorrillos</p>
                <h3 th:text="#{contacto.formulario.titulo}">Formulario de Contacto</h3>
                <p th:text="#{contacto.formulario.descripcion}"> Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible. Tu opinión es muy importante para nosotros.</p>
                <form th:action= "@{/formularioContacto}" method="POST" id="contactForm">
                    <div class="form-group">
                        <label for="nombre" th:text="#{contacto.formulario.nombre}">Nombre:</label>
                        <input type="text" id="nombre" th:name="nombre" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="email" th:text="#{contacto.formulario.email}">Email:</label>
                        <input type="email" id="email" th:name="correo" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="mensaje" th:text="#{contacto.formulario.mensaje}">Mensaje:</label>
                        <textarea id="mensaje" th:name="mensaje" rows="5" class="form-control" required></textarea>
                    </div>

                    <button  type="submit" class="btn btn-primary" th:text="#{contacto.formulario.boton}">Enviar</button>

                </form>
            </div>
        </div>
    </div>

    <div th:insert="~{user/components/carrito.html::modalCarrito}"></div>

    <footer th:replace="~{user/components/footer.html::footer}"></footer>
    <!-- Bootstrap JS and dependencies -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/contacto/contactoForm.js" ></script>
    <script src="/js/carrito.js" ></script>
    

</body>

</html>