<div th:fragment="sidebar" class="sidebar">
    <!-- Barra lateral -->
        <nav>
            <div class="d-flex gap-2 justify-content-center align-items-center mt-3 mb-3">
                <span class="fs-3">Slam</span>
                <img style="width: 64px" src="/images/LogoSlamRacingWhite.svg" alt="Logo">
                <span class="fs-3">Admin</span>
            </div>
            <div class="main-menu">
                <a href="/admin/inicio" class="nav-link"><i class="fas fa-home"></i>Inicio</a>
                <a href="/admin/productos" class="nav-link"><i class="fas fa-box"></i>Productos</a>
                <a href="/admin/pagosAdmin" class="nav-link"><i class="fas fa-shopping-cart"></i>Pagos</a>
                <a href="/admin/pedidosAdmin" class="nav-link"><i class="fas fa-clipboard-list"></i>Pedidos</a>
                <a href="/admin/usuariosAdmin" class="nav-link"><i class="fas fa-user"></i>Usuarios</a>
                <a href="#" class="nav-link"><i class="fas fa-cog"></i>Configuración</a>
            </div>
            <div class="bottom-menu">
                <a  id="logout-btn" href="#" class="nav-link"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
            </div>
            <script src="/js/auth/logout.js"></script>
        </nav>
</div>
