.hover-animate {
    position: relative;
    transition: color 0.3s ease;
}

.hover-animate::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.hover-animate:hover {
    color: #ffcc00; /* Cambia el color del texto en hover */
}

.hover-animate:hover::after {
    width: 100%; /* Añade una línea bajo el texto en hover */
}