
.logo img {
    max-width: 200px;
}

.contact-form {
    background-color: white; /* Fondo blanco para la sección de contacto */
    color: black; /* Texto negro en la sección de contacto */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-link {
    color: white; /* Color de las opciones de navegación */
}
.nav-link.active {
    font-weight: bold; /* Resalta el enlace activo */
}
.nav-link:hover {
    text-decoration: underline; /* Efecto hover en los enlaces */
}
